@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.cguWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}

.cguWorking {
  text-align: center;
  color: $black;
  @include main-text;
}
