@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.favPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  padding: 0 16px;
}

.favTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  width: 100%;
}

.favTitle {
  @include font-h1;
  color: $main-red;
}

.favSubtitle {
  @include main-text;
  color: $black;
  margin-bottom: 4cqmax;
}
